<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>

<!--Bootstrap CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">

<head>
    <meta charset="UTF-8">
    <title>PCs</title>
</head>
<body class="container">

    <nav th:replace="~{fragments/navigation::navbar()}"></nav>

    <br/>

    <h2>ALL PCS:</h2>
    <hr/>

    <a th:href="@{/save/pc}" class="btn btn-success text-light">ADD NEW</a>
    <br/>

    <br/>
    <table class="table table-bordered table-dark">
        <thread>
            <tr>
                <th>PC NUMBER</th>
                <th>TITLE</th>
                <th>ACTIVE</th>
                <th>PLAYER</th>
                <th>ACTIONS</th>
            </tr>
        </thread>

        <tbody>
        <tr th:each="pc: ${pcs}">
            <td th:text="${pc.pcNumber}"></td>
            <td th:text="${pc.title}"></td>
            <td th:text="${pc.active}"></td>
            <td th:text="${pc.player != null ? pc.player.playerId : '/'}"></td>
            <td class="text-center">
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/remove/pc/{pcNumber}(pcNumber=${pc.pcNumber})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this PC?'))) return false">REMOVE</a>
                <a sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')" th:href="@{/update/pc/{pcNumber}(pcNumber=${pc.pcNumber})}"
                   class="btn btn-warning btn-sm">UPDATE</a>
                <a th:href="@{/pcs/{pcNumber}(pcNumber=${pc.pcNumber})}"
                   class="btn btn-info btn-sm">DETAILS</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPcs != null}">

        <p class="text-center">
            Total pcs: <b>[[${totalPcs}]]</b> &VerticalLine;
            Page <b>[[${pageNumber + 1}]]</b> of <b>[[${totalPages}]]</b>
        </p>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <a th:if="${pageNumber > 0}" th:href="@{/pcs(page=${pageNumber - 1}, size=${pageSize})}">
                <b class="page-link">PREV PAGE</b>
            </a>
            <a th:if="${pageNumber < totalPages - 1}" th:href="@{/pcs(page=${pageNumber + 1}, size=${pageSize})}">
                <b class="page-link">NEXT PAGE</b>
            </a>
        </div>

    </div>

    <br/>
    <a th:href="@{/home}">HOME</a>

</body>
</html>