<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
</head>
<body class="container">

    <nav th:replace="~{fragments/navigation::navbar()}"></nav>

    <br/>

    <h2>NOT FOUND!</h2>
    <hr/>
    <h3 style="color:red">404 NOT FOUND!</h3>

    <a th:href="@{/home}">Go Home</a>

</body>
</html>