<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
</head>
<body class="container">
    <br/>

    <div class="card">

        <div class="card-header">
            PLAYER ID: <p th:text="${player.playerId}"/>
        </div>

        <div class="card-body">
            <p>First name: </p>
            <p th:text="${player.firstName}"/>
            <br/>
            <p>Last name: </p>
            <p th:text="${player.lastName}"/>
            <br/>
            <p>PC: </p>
            <p th:text="${player.pc}"/>
        </div>

    </div>

    <br/>

    <a th:href="@{/players}">GO BACK</a>

</body>
</html>