<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, player-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <!--<a class="navbar-brand" href="#">Home</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <img alt="AccountSymbol" th:src="@{/images/account.png}" width="50" height="50" class="d-inline-block align-top img-thumbnail"/>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/api/game/account}" class="nav-link" style="none">Account</a>
                    </li>
                    <li class="nav-item">
                        <div style="border-left: 2px solid gray; position: absolute; height: 40px;"></div>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/api/game/pc}" class="nav-link"><b>PCs</b></a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/api/game/player}" class="nav-link"><b>PLAYERs</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br/>
        <h2>About:</h2><br/>
        <a href="https://github.com/fajni/Game-Room/"><h3>GitHub Repo.</h3></a>
        <hr/>
        <a href="https://github.com/fajni/Game-Room/tree/only_api"><h4>Only Api Without Login, Security and Email Part</h4></a>
        <hr/>
        <a href="https://github.com/fajni/Game_Room/tree/login-registration-backend"><h4>Only Registration, Login, Email, Security</h4></a>
        <hr/>

    </div>

</body>
</html>