<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Account</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
</head>
<body class="container">
    <br/>

    <h3>User ID: </h3>
    <h3 th:text="${user.userId}"/>
    <hr/>
    <h4>Username: </h4>
    <h4 th:text="${user.username}"/>
    <hr/>
    <h4>Email: </h4>
    <h4 th:text="${user.email}"/>
    <hr/>
    <h4>Current password: </h4>
    <h4 th:text="${user.password}"/>
    <hr/>
    <h4>ROLE: </h4>
    <h4 th:text="${user.role.roleName}"/>
    <hr/>

    <a th:href="@{/home}">Go Back</a>

    <br/><br/>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="LOGOUT" />
    </form>

</body>
</html>