<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
</head>
<body class="container">
    <br/>

    <h2>This is landing page! Welcome!</h2>

    <p>This page can see everyone.</p>

    <hr/>

    <a th:href="@{/showLoginPage}">Login</a>
    <br/>
    <a th:href="@{/showRegisterPage}">Register</a>

</body>
</html>