<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
</head>
<body>

<br/>
<div class="container">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center" style="background-color: rgb(245, 245, 245)">Login Form</h1>

            <div class="card-body">
                <form th:action="@{/api/game/login}" method="POST">

                    <div class="form-group">
                        <label>Email: </label>
                        <input type="text" id="username" name="username" placeholder="Enter Email" class="form-control text-danger">
                    </div>
                    <div class="form-group">
                        <label>Password: </label>
                        <input type="password" id="password" name="password" placeholder="Enter Password" class="form-control text-danger">
                    </div>

                    <div class="box-footer text-center">
                        <button value="Log in" type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                </form>
                <hr/>
                <p>Not registered?</p>
                <a th:href="@{/api/game/sign_up}">Register/SignUp here!</a>
                <br/><br/>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card border border-white">
            <div th:if="${param.error}" class="alert alert-danger" align="center" id="invalid_email">
                Invalid email or password!
            </div>

            <div th:if="${param.logout}" class="alert alert-success" align="center" id="logout">
                You have been logged out.
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#invalid_email").fadeOut(5000);
        $("#logout").fadeOut(5000);
    });
</script>

</body>
</html>